<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                            <thead class=" text-primary">
                                <th>
                                    #
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Fabricante
                                </th>
                                <th>
                                    Almacenamiento
                                </th>
                                <th>
                                    Precio
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let valor of listaConsolas, let i = index">
                                    <th>
                                        {{i}}
                                    </th>
                                    <td>
                                        {{valor.nombre}}
                                    </td>
                                    <td>
                                        {{valor.fabricante}}
                                    </td>
                                    <td>
                                        {{valor.almacenamiento}}
                                    </td>
                                    <td>
                                        {{valor.precio}}
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
